<h1>Edit your Itinerary!</h1>
<%= form_for @itinerary do |f| %>
  <%= f.text_field :name, :placeholder => "Name", :autofocus => true %>
  <%= f.text_field :location, :placeholder => "Location" %>
   <%= f.text_field :info, :placeholder => "Info" %>
  <%= f.submit "Update!" %>
  <% end %>