<h1>Edit your Itinerary!</h1>
<%= form_for @itinerary do |f| %>
  Name: 
  <%= f.text_field :name, :placeholder => "Name", :autofocus => true %>
  Origin: 
  <%= f.text_field :origin, :placeholder => "Origin" %>
  Destination: 
  <%= f.text_field :destination, :placeholder => "Destination" %>
  Departing Date: 
  <%= f.date_field :depart_date %>
  Returning Date: 
  <%= f.date_field :return_date %>
  <%= f.submit "Update!" %>
  <% end %>