<h1>Add your Itinerary!</h1>

<%= form_for @itinerary do |f| %>
<<<<<<< HEAD
  <%= f.text_field :name, :placeholder => "Name", :autofocus => true %>
  <%= f.text_field :location, :placeholder => "Location" %>
   <%= f.text_field :info, :placeholder => "Info" %>
=======
  <%= f.text_field :name, :placeholder => "Name" %>
    <%= f.text_field :name, :placeholder => "Name" %>
      <%= f.text_field :name, :placeholder => "Name" %>

>>>>>>> 57237e1f7ba2ee855f3e5acaeef7de154a777209
  <%= f.submit %>

<% end %>
