<h1>Add an itinerary</h1>

<%= form_for @itinerary do |f| %>
  <%= f.text_field :name, :placeholder => "Name" %>
    <%= f.text_field :location, :placeholder => "Name" %>
      <%= f.text_field :name, :placeholder => "Name" %>

  <%= f.submit %>
<% end %>
