<h1><%= @itinerary.name %></h1>

<div class="black-box">
  <h2>Destinations</h2>
  <ul>
    <% @itinerary.destinations.each do |place| %>
    <li>
      <%= link_to "#{place.name} (#{place.location})", destination_path(place) %>
      <%= button_to "X", remove_destination_path(@itineray, place), :method => :delete %>
    </li>
    <% end %>
  </ul>
  <% unless @destinations.empty? %>
    <%= form_tag add_destination_path do |f|%>
      <%= collection_select :destination, :id, @destinations, :id, :name %>
      <%= submit_tag "Add" %>
    <% end %>
  <% end %>
</div>

<%= link_to "Edit", edit_itinerary_path(@itinerary) %>
<%= button_to "Delete", itinerary_path(@itinerary), :method => :delete %>
<br><br>

<ul id="comments">
  <% @comments.each do |comment| %>
    <li>
    <%= comment.content %>
    <%= button_to "X", [@itinerary, comment], :method => :delete %>
    </li>
  <% end %>
</ul>

<!-- When you make this a partial.... look into locales -->

<h2>New Comment</h2>
<%= form_for [@itinerary, Comment.new] do |form| %>
  <ol class="formList">
    <li>
      <%= form.label :content %>
      <%= form.text_area :content, :rows => 5 %>
    </li>
    <li><%= submit_tag "Add comment" %></li>
  </ol>
<% end %>

<%= link_to "Back to itineraries", itineraries_path %>
